.container{
    margin: 50px auto;
    max-width: 45vw;
}

.center{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container{
        margin: 30px auto;
        max-width: 85vw;
    }
  }
  